h1 span{
  color: white;
}
#background{
  background: #6F364E;
}

.cards{
  background-image: #FFA07A;
  opacity: 0.7;
  transition: 1s;
  right: 0;
}

.view-background{
  background: #D3D3D3;
}

.ui.segment{
  background: #D3D3D3;
}

.column{
  display: flex;
}

#arrow-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui-right-floated{
  flex-direction: column;
  justify-content: center;
}
